body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

.formnav {

    display:inline-block;
    margin: 10%;
    border: 3px;
    
}

.formnav select {
   
    padding: 10px;
  
}

#h1 {
    text-align: center;
    margin: 20px auto;
}


#courseTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;

    border: 2px solid white;
}


#courseTable thead {
    background-color:darkred;
    color: black;
    font-weight: bold;
    text-align: left;
}

#courseTable th {
    padding: 10px;
    border: 2px solid white;
}

#courseTable td {
    padding: 8px 12px;
    border: 1px solid white;
    text-align: left;
}

#courseTable tbody tr {
    transition: background-color 0.2s ease;
}

#courseTable tbody tr:nth-child(even) {
    background-color: white;
}

#courseTable tbody tr:hover {
    background-color: white;
}






