.home {
    text-align: center;
    padding: 2rem;
    margin: 50px;
    background: linear-gradient(to bottom right, #044057b9, #044057b9);
    color: white;
  }
  .home-header {
    margin: 0 auto;
    max-width: 600px;
  }
  .home-header h1 {
    font-size: 2.5rem;
    color: #f9f9f9;
  }
  
  .home-header p {
    font-size: 1.2rem;
    color: #f9f9f9;
  }
  
  .courses-section {
    margin-top: 30px;
  }
  .home-introduction {
    margin: 20px 0;
    text-align: center;
}
  .btn-primary {
    padding: 0.5rem 1rem;
    background: rgb(252, 49, 49);
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  